<Jumbo>
  <h2>{{@rental.title}}</h2>
  <p>Nice find! This looks like a nice place to stay near {{@rental.city}}.</p>
  <ShareButton
    @text='Check out {{@rental.title}} on Super Rentals!'
    @hashtags='vacation,travel,authentic,blessed,superrentals'
    @via='emberjs'
  >
    Share on Twitter
  </ShareButton>
</Jumbo>

<article class='rental detailed'>
  <Rental::Image src={{@rental.image}} alt='A picture of {{@rental.title}}' />

  <div class='details'>
    <h3>About {{@rental.title}}</h3>

    <div class='detail owner'>
      <span>Owner:</span>
      {{@rental.owner}}
    </div>
    <div class='detail type'>
      <span>Type:</span>
      {{@rental.type}}
      –
      {{@rental.category}}
    </div>
    <div class='detail location'>
      <span>Location:</span>
      {{@rental.city}}
    </div>
    <div class='detail bedrooms'>
      <span>Number of bedrooms:</span>
      {{@rental.bedrooms}}
    </div>
    <div class='detail description'>
      <p>{{@rental.description}}</p>
    </div>
  </div>

  <Map
    @lat={{@rental.location.lat}}
    @lng={{@rental.location.lng}}
    @zoom='12'
    @width='894'
    @height='600'
    alt='A map of {{@rental.title}}'
    class='large'
  />
  <div class='btn-register-container'>
    <a class='register-btn' href='#open-modal'>Register</a>
  </div>
  <div id='open-modal' class='modal-window'>
    <div>
      <a href='#' title='Close' class='modal-close'>&#10005;</a>
      <h3 class='form-title'>Register for <span>{{@rental.title}}</span> </h3>
      <form {{on 'submit' (fn this.onsubmit @rental.title @rental.id)}}>
        <label for='firstName'>First Name</label>
        <input
          type='text'
          id='firstName'
          name='firstName'
          value={{this.firstname}}
          {{on 'change' (fn this.update 'firstName')}}
          placeholder='John'
        />

        <label for='lastName'>Last Name</label>
        <input
          type='text'
          id='lastName'
          value={{this.lastName}}
          name='lastname'
          {{on 'change' (fn this.update 'lastName')}}
          placeholder='Doe'
        />

        <label for='email'>Email</label>
        <input
          type='email'
          id='email'
          value={{this.email}}
          name='email'
          {{on 'change' (fn this.update 'email')}}
          placeholder='johndoe@gmail.com'
        />
        <label for='mobileNo'>Mobile Number</label>
        <input
          type='text'
          id='mobileNo'
          name='mobileNo'
          value={{this.mobileNo}}
          {{on 'change' (fn this.update 'mobileNo')}}
          placeholder='(+91) 123456789'
        />
        <input
          type='submit'
          value='Submit'
          class='share button'
          disabled={{this.disabledBtn}}
        />
      </form>
    </div>
  </div>
</article>